/* ========= BUTTONS ========= */
.button {
    display: inline-block;
    background-color: var(--pink);
    color: var(--white);
    font-family: var(--body-font-a);
    padding: .75rem 1.5rem;
    border-radius: 3rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;

    &:hover {
        cursor: pointer;
        background-color: var(--light-pink);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    }

    &_nav {
        font-family: var(--body-font-b);
        font-weight: var(--font-normal);
        padding: .50rem 1.5rem;
        background-color: transparent;
        border: 1px solid var(--light-pink);
        color: var(--light-pink);

        &:hover{
            cursor: pointer;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
            background-color: transparent;
        }
    }
}