/* ========= MEDIAQUERIES ========= */
/* For Small Devices */
@media screen and (max-width: 360px) {

}

/* For Medium Devices */
@media screen and (min-width: 576px) {
  .nav_logo {
    width: 25%;
    height: auto;
  }

  .home {
    background: var(--white) url('../img/bg-section-top-desktop-1.svg') bottom
    no-repeat;
    background-size: 100%;

    &_title {
      max-width: 22rem;
      margin: auto;
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    &_description {
      max-width: 26rem;
      margin: auto;
      margin-bottom: 2rem;
    }

    &_subtitle {
      font-size: 3rem;
    }

    &_illus_screen {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    &_numbers_data {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }

  .home_illus_screen,
  .grow_illus,
  .flowing_illus,
  .users_illus {
    width: 70%;
    margin: auto;
  }

  .grow_description {
    max-width: 20rem;
  }

  .flowing {
    background: url('../img/bg-section-bottom-desktop-1.svg') top no-repeat, url('../img/bg-section-top-desktop-2.svg') bottom no-repeat;
    background-size: 100% 80px;

    &_description {
      max-width: 19rem;
    }
  }

  .flowing_container,
  .community_container {
    margin-bottom: 6rem;
  }

  .users_description {
    max-width: 19rem;
  }

  .community {
    background: url('../img/bg-section-bottom-desktop-1.svg') top no-repeat, url('../img/bg-footer-top-desktop.svg') bottom no-repeat;
    background-size: 100% 80px;

    &_title {
      max-width: 13rem;
    }
  }

  .footer {
    &_title {
      font-size: 1.5rem;
    }

    &_logo {
      width: 45%;
    }

    &_contact_input {
      width: 31rem;
    }

    &_content {
      gap: 2.5rem;
    }
  }
}

@media screen and (min-width: 767px) {
  .nav_logo {
    width: 20%;
    height: auto;
  }

  .home_illus_screen,
  .grow_illus,
  .flowing_illus,
  .users_illus {
    width: 50%;
    margin: auto;
  }

  .home_illus_screen {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .community {
    &_container {
      margin-bottom: 8rem;
    }

    &_title {
      max-width: 20rem;
    }
  }

  .footer {
    &_logo {
      width: 30%;
    }

    &_contact_input {
      width: 43rem;
    }
  }
}

/* For Large Devices */
@media screen and (min-width: 968px) {
  .nav_logo {
    width: 15%;
    height: auto;
  }

  .home {
    &_illus_screen {
      width: 60%;
      margin: auto;
    }

    &_subtitle {
      font-size: 4rem;
    }
  }

  .grow_data, .flowing_data, .users_data {
    align-items: flex-start;
  }

  .grow_illus, .flowing_illus, .users_illus {
    width: 40%;
    margin: auto;
  }

  .grow_title, .flowing_title, .users_title {
    font-size: 1.75rem;
  }

  .grow_container, .users_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .grow_description, .flowing_description, .users_description {
    text-align: left;
  }

  .flowing_container {
    display: flex;
    align-items: center;
  }

  .community_title {
    font-size: 2rem;
  }

  .footer {
    &_container {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    &_content {
      align-items: flex-start;
    }

    &_newsletter {
      order: 2;
      display: flex;
      gap: 1rem;
    }

    &_media {
      order: 1;
    }

    &_contact_form {
      flex-direction: row;
      align-items: stretch;
      gap: 1rem;
      margin-top: 1rem;
    }

    &_contact_input {
      width: 18rem;
    }

    &_logo {
      width: 50%;
    }

    &_description {
      max-width: 19rem;
      font-size: 13px;
    }

    &_social {
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    padding: 1rem 3.5rem;

    &_nav {
      padding: 0.3rem 1.3rem;
    }

    &_footer {
      padding: 1rem 2.5rem;
    }
  }

  .home {
    &_container {
      margin-top: 6rem;
    }

    &_title {
      max-width: 43rem;
    }

    &_description {
      max-width: 27rem;
    }

    &_numbers_data {
      margin-bottom: 10rem;
      gap: 12rem;
    }
  }

  .grow_title, .flowing_title, .users_title {
    font-size: 2.2rem;
  }

  .grow_description, .flowing_description, .users_description {
    max-width: 28rem;
    font-size: 14px;
  }

  .community {
    padding-top: 10rem;
    padding-bottom: 10rem;

    &_title {
      max-width: 35rem;
    }
  }

  .footer {
    &_contact_form {
      gap: 2rem;
    }
  }
}